.steps {
  .accordion {
    border-bottom: none;

    .accordion-item {
      position: relative;

      &:after {
        position: absolute;
        bottom: -0.5rem;
        left: 1.5rem;
        display: block;
        width: 2px;
        height: 100%;
        background-color: #c5c7c9;
        content: '';
      }
    }

    .accordion-header {
      z-index: 1;

      .accordion-button {
        padding: 0;
        border-top: none;
        margin-top: 1rem;
        background-color: var(--primary-lightest);
        color: var(--text-color);

        .step-number,
        .step-title {
          padding: 0.8rem 1.2rem;
        }
        .step-number {
          border-right: 1px solid #fff;
        }

        &:after {
          content: none;
        }

        & + .accordion-wrap-btn {
          padding-left: 1.8rem;
          border-top: 0.5rem solid white;
          margin-left: 1.5rem;
        }
      }
    }

    .accordion-body {
      padding-bottom: 12px;
      margin-left: 2.8rem;
      h2,
      h3,
      h4,
      h5,
      h6 {
        font-family: var(--bs-font-sans-serif);
      }
    }

    &.accordion-background-active {
      .accordion-header {
        .accordion-button[aria-expanded='true'] {
          border-color: var(--primary-dark);
          background-color: var(--primary-dark);

          &:after {
            content: none;
          }
        }
      }
    }
  }
}
