@import 'io-sanita-theme/theme/bootstrap-italia-base-config';
@import 'io-sanita-theme/theme/io-sanita/mixins';

.header-contacts {
  @include rem-size(font-size, 14);
  background-color: var(--primary-lightest);
  padding: 0.3rem 0;
  border-bottom: 1px solid var(--primary-lighter);

  .row {
    row-gap: 0.5rem;
    @media (max-width: #{map-get($grid-breakpoints,md)}) {
      justify-content: space-between;
    }
    .contact-wrapper {
      display: flex;
      flex-basis: auto;
      width: auto;
      align-items: center;
      column-gap: 0.5em;

      @media (max-width: #{map-get($grid-breakpoints, md)}) {
        flex-basis: 50%;
        &:nth-child(even) {
          justify-content: flex-end;
        }
      }
      .item-description {
        @media (max-width: #{map-get($grid-breakpoints, lg)}) {
          display: none;
        }
      }

      .item-type {
        font-weight: 700;
      }
      a {
        color: $accent;
        .icon.external-link {
          display: none;
        }
      }
    }
  }
}
