@import 'io-sanita-theme/theme/bootstrap-italia-base-config';

.header-contacts {
  background-color: $bg-primary-lightest;
  padding: 0.3rem 0;
  font-size: $font-size-sm;
  .contact-wrapper {
    display: flex;
    align-items: center;
    gap: 0.5em;
    .item-description {
      @media (max-width: #{map-get($grid-breakpoints, md)}) {
        display: none;
      }
    }
    .item-type {
      font-weight: 700;
    }
    a {
      color: $accent;
      .icon.external-link {
        display: none;
      }
    }
  }
}
