.select-icon-widget {
  .wdg {
    display: flex;
    & > div {
      flex: 1;
    }

    &.wrapped {
      flex-direction: column;
    }
  }

  p.help-icon-widget {
    font-size: 0.8rem !important;
    padding: 0 1rem;
    margin-bottom: 2rem !important;
    svg {
      height: 1em;
    }
  }
}
