.public-ui {
  .block {
    margin-bottom: 1.5rem;
  }
  .block[class*='bg-']:has(+ .block[class*='bg-']) {
    margin-bottom: 0;
  }
}

.public-ui,
.cms-ui {
  .block {
    .is-block-description {
      &,
      p {
        @include rem-size(font-size, 24);
      }
      p {
        margin-bottom: 0;
      }
    }
  }
}
#main-content-section.it-page-sections-container .richtext-blocks {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--bs-font-sans-serif);
    font-weight: 600;
  }
  h2 {
    font-size: 1.5rem;
    line-height: 2rem;
    @include media-breakpoint-up(sm) {
      font-size: 1.75rem;
      line-height: 2rem;
    }
  }
  h3 {
    font-size: 1.25rem;
    line-height: 1.5rem;
    @include media-breakpoint-up(sm) {
      font-size: 1.5rem;
      line-height: 2rem;
    }
  }

  h4 {
    font-size: 1rem;
    line-height: 1.5rem;
    @include media-breakpoint-up(sm) {
      font-size: 1.125rem;
    }
  }
  h5,
  h6 {
    font-size: 1rem;
    line-height: 1.5rem;
    @include media-breakpoint-up(sm) {
      font-size: 1.125rem;
    }
    font-weight: unset;
  }
}

// .is-block-description {
//   &,
//   p {
//     @include rem-size(font-size, 24);
//   }
//   p {
//     margin-bottom: 0;
//   }
// }
