.table-template {
  table.table {
    &,
    p,
    ul,
    ul,
    li,
    ol {
      font-size: 0.9rem;
    }

    .date-column {
      min-width: 6.5rem;
    }

    th {
      vertical-align: top;
    }

    ul.relations.widget {
      list-style-type: none;
      padding-left: 0;
      li {
        a {
          .icon {
            display: none;
          }
        }
      }
    }
  }
}
