body.cms-ui,
body.public-ui {
  .accordion-block {
    .search-bar-widget {
      label {
        visibility: hidden;
        height: 0;
        margin: 0 !important;
      }
    }
    .public-ui {
      .accordion {
        margin-top: 0 !important;
        clear: both; /* ensure floated images from content area don't spill over next accordion title */

        .accordion-header {
          h2,
          h3,
          h4,
          h5,
          h6 {
            margin: 0 !important;
            width: 100%;
          }
        }

        .accordion-body {
          padding-left: 3em;

          .container {
            width: 100% !important;
          }
        }
      }
    }
  }
}
