.public-ui .card.card-persona {
  .avatar {
    background-color: var(--primary-lightest);

    &.size-xl {
      padding: 0 0.5rem;
    }
  }

  .card-body {
    .card-text {
      &,
      p {
        font-size: 0.8886rem;
      }
    }
  }
}
