.card.card-contatti {
  .icon.icon-svg-telephone {
    height: 24px !important;
    color: var(--bs-primary);
    fill: none !important;
  }

  .card-text {
    display: flex;
    flex-wrap: wrap;

    span {
      flex: 1 1 100%;
      font-size: 0.8886rem;
      word-break: break-word;
    }

    .pdc-type {
      text-transform: capitalize;
    }
  }
}
