:root {
  --focus-outline-color: #{$focus-outline-color};
  --is-accent: #{$accent};
  --is-accent-text: #{$accent-text};
  --is-accent-text: #{$accent-text};
  --primary-darker: #{$primary-darker};
  --primary-lightest: #{$bg-primary-lightest};
  --primary-lighter: #{$bg-primary-lighter};
  --bs-primary-text: #{$primary-text};
}
