$primary: #07768d;
$accent: #9c0769;

//card
$card-link-color: $accent;

//chips
$color-text-secondary: $accent;
$color-border-subtle: $accent;
$font-weight-base: 300;
$body-color: #2f475e;
//$color-text-base: #2f475e;
$card-color: $body-color;
$card-p-color: $body-color;
