$primary-h: 190;
$primary-s: 91;
$primary-b: 29;
$primary: hsl($primary-h, $primary-s, $primary-b); //#07768d;
$primary-dark: hsl($primary-h, $primary-s, 20);
$accent: #9c0769;

$primary-text: #fff;

//font
$font-weight-base: 300;
$body-color: #2f475e;

//header
$header-slim-bg-color: $primary-dark;

//nav
$nav-link-font-size: 1rem;
$nav-link-font-weight: 600;

//card
$card-link-color: $accent;

//chips
$color-text-secondary: $accent;
$color-border-subtle: $accent;

//$color-text-base: #2f475e;
$card-color: $body-color;
$card-p-color: $body-color;
