@import 'io-sanita-theme/theme/bootstrap-italia-base-config';

.card.card-ghost {
  .card-title {
    font-weight: $font-weight-bold;

    &.card-title-icon {
      display: flex;
      justify-content: space-between;

      .icon {
        flex: 0 0 auto;
        color: var(--is-accent);
        fill:  var(--is-accent);
        margin-left: 1rem;
      }
    }
  }
  &.border-bottom-card {
    &:before {
      height: 1px;
      background-color: $gray-border;
    }
  }
}
