.view-viewview #main-content-section .repeatableContentBlock {
  * {
    font-family: 'Titillium Web';
    font-size: 14px;
    word-break: break-all;
  }

  .full-width {
    position: unset !important;
    width: 100% !important;
    margin: 0px !important;
  }
}

.view-editview
  .blocks-widget-container
  .block-editor-repeatableContentBlock
  .repeatableContentBlock {
  * {
    font-size: 12px !important;
  }

  .full-width,
  .block.image.align.full img.full-width {
    position: unset !important;
    width: 100% !important;
    max-width: 100%;
    margin: 0px !important;
  }

  .full-width {
    .container {
      width: 100% !important;
      max-width: 100%;
    }

    .row {
      margin: 0px;
    }
  }

  .col-sm-12 {
    padding-right: 0px;
    padding-left: 0px;
  }

  ::before {
    top: -1.5rem;
    height: 40px;
  }
}

#main-content-section .repeatableContentBlock .public-ui .full-width .col-lg-4 {
  width: 70%;
}
