@import 'io-sanita-theme/theme/bootstrap-italia-base-config';

.search-checkbox {
  .form-check [type='checkbox'] + label {
    margin-bottom: 0;
    color: var(--bs-body-color-rgb);
    font-size: 1rem;
    font-weight: $font-weight-semibold;
  }
}
