/*
* Bottone colore di accento (btn-accent)
*/
.public-ui {
  .btn.btn-accent {
    @include button-variant($accent, $accent);

    svg {
      fill: $accent-text;
    }

    &:hover,
    &:active {
      svg {
        fill: $accent-text;
      }
    }
  }

  a.btn.btn-accent {
    color: $accent-text !important;

    &:focus {
      border-color: $focus-outline-color;
      box-shadow:
        inset 0 1px 0 $focus-outline-color,
        0 1px 1px $focus-outline-color,
        0 0 0 0.2rem $focus-outline-color;
      outline: none;
    }
  }

  .btn.btn-outline-accent {
    @include button-outline-variant($accent);
  }
}
