.siteroot,
body.public-ui.contenttype-lrf:not(.section-search) {
  .documentFirstHeading {
    visibility: hidden;
    height: 0;
    margin: 0;
  }
  #briciole {
    display: none;
  }
}

body.subsite.subsite-root:not(.section-search) {
  &,
  .public-ui {
    .documentFirstHeading {
      visibility: hidden;
      height: 0;
      margin: 0;
    }
    #briciole {
      display: none;
    }
  }
}
