.cms-ui {
  .block {
    .single-block.subblock-edit {
      .dragsubblock,
      .ui.basic.button.delete-button {
        z-index: 3;
        border: 1px solid #9bcfe1 !important;
        border-radius: 100% !important;

        color: #575757 !important;
      }

      .dragsubblock {
        top: -18px;
        left: -0.75rem;
        display: flex;
        width: 32px;
        height: 32px;
        align-items: center;
        justify-content: center;
        padding: 5px;
        margin-top: -5px;
        background-color: #fff;
        line-height: 0;
        text-align: center;

        &:hover,
        &:active {
          background-color: #a4dee1 !important;

          svg {
            fill: #000 !important;
          }
        }
      }
    }
  }
}
