@import 'io-sanita-theme/theme/bootstrap-italia-base-config';

.bando-view {
  .bando_state {
    width: 20em;
    border-left: 0.3em solid;
    margin-bottom: 1em;
    text-transform: uppercase;

    &.open {
      border-left: 5px solid $complementary-3-a9;

      svg {
        padding-right: 10px;
        fill: $complementary-3-a9;
      }
    }

    &.closed {
      border-left: 5px solid $neutral-1-a7;

      svg {
        padding-right: 10px;
        fill: $neutral-1-a7;
      }
    }

    &.scheduled {
      border-left: 5px solid $analogue-1-b5;

      svg {
        padding-right: 10px;
        fill: $analogue-1-b5;
      }
    }

    &.inProgress {
      border-left: 5px solid $analogue-1-a7;

      svg {
        padding-right: 10px;
        fill: $analogue-1-a7;
      }
    }
  }
}
